<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--AddUser-->
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>app.servlets.AddUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>

    <!--ShowUser-->
    <servlet>
        <servlet-name>showUsers</servlet-name>
        <servlet-class>app.servlets.ShowUsersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>showUsers</servlet-name>
        <url-pattern>/showUsers</url-pattern>
    </servlet-mapping>

</web-app>